<div class="container">
	<div class="row">
		<div class="col-lg-4 col-sm-6 col-xs-12 col-lg-offset-2">
			<b>Mein Name ist Nicole.</b>

			<p>Ich bin Mama eines wunderbaren Mädchens, Frau meiner großen Jugendliebe, Abenteuerin, Träumerin, Künstlerin
				 und kreative Seele.</p>

			<p>Ich liebe Spaziergänge barfuß über Wiesen, Kaffees auf sonnendurchfluteten Terrassen, Bücher, Bücher, Bücher,
				 Farbe an meinen Händen, Pinsel zwischen meinen Fingern und ehrliche, unverstellte Gespräche.</p>

			<p>Zur Fotografie kam ich erst vor 4 Jahren als während meiner größten Lebenskrise mein wertvollstes Geschenk
				 zur
				 Welt kam. Seitdem sind Fotos meine Leidenschaft. Ich fotografiere für mein Leben gerne, um Momente
				 einzufangen
				 - festzuhalten - nicht mehr loszulassen.</p>

			<p>0-8-15 Bilder gibt es daher für mich nicht. Ich suche nach wilder, natürlicher Schönheit im Alltag. Portraits
				 in der Natur. Szenen im natürlichen Licht.
				 Ich freue mich darauf Euch kennenzulernen und über Eure Fotowünsche zu sprechen.</p>

			<p>Meldet Euch unter <a href="&#x6d;&#x61;&#x69;&#108;&#116;&#111;&#58;&#105;&#110;&#x66;&#x6f;&#x40;&#110;&#x69;&#99;&#x6f;&#x63;&#x6f;&#x2e;&#x64;&#101;">info@nicoco.de</a></p>
		</div>
		<div class="col-lg-4 col-sm-6 col-xs-12">
			<img class="img-responsive" src="images/aboutme/me.jpg"/>
		</div>
	</div>
</div>
