<header-directive></header-directive>

<div class="container">
	<div class="row">
		<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
			<img class="img-responsive" src="images/1_Herz.jpg" alt="Love Stories" />
		</div>
		<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
			<img class="img-responsive" src="images/2_Familie.jpg" alt="Family" />
		</div>
		<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
			<img class="img-responsive" src="images/3_Portrait.jpg" alt="Portraits" />
		</div>
		<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
			<img class="img-responsive" src="images/4_Illustrationen.jpg" alt="Illustrations" />
		</div>
	</div>
</div>
