<div class="container">
	<div class="row row-centered">
		<div class="row">
			<div class="col-lg-2 col-md-3 col-sm-3 col-xs-3 col-centered">
				<a class="toggle" data-toggle="portraits" href="#">
					<div class="thumbnail">
						<img src="images/portraits/1.jpg" class="img-responsive thumbnail" alt="Portraits">
						<div class="caption"><strong>Portraits</strong></div>
					</div>
				</a>
			</div>

			<div class="col-lg-2 col-md-3 col-sm-3 col-xs-3 col-centered">
				<a class="toggle" data-toggle="family" href="#">
					<div class="thumbnail">
						<img src="images/family/5.jpg" class="img-responsive thumbnail" alt="Familien">
						<div class="caption"><strong>Familien</strong></div>
					</div>
				</a>
			</div>

			<div class="col-lg-2 col-md-3 col-sm-3 col-xs-3 col-centered">
				<a class="toggle" data-toggle="pets" href="#">
					<div class="thumbnail">
						<img src="images/pets/4.jpg" class="img-responsive thumbnail" alt="Tiere">

						<div class="caption"><strong>Tiere</strong></div>
					</div>
				</a>
			</div>
		</div>

	</div>
	<div data-toggle="pets" class="row collapse">
		<h1>Tiere</h1>
		<masonry input="gallery.pets" gallery="'pets'"></masonry>
	</div>

	<div data-toggle="family" class="row collapse">
		<h1>Familien</h1>
		<masonry input="gallery.family" gallery="'family'"></masonry>
	</div>

	<div data-toggle="portraits" class="row collapse">
		<h1>Portraits</h1>
		<masonry input="gallery.portraits" gallery="'portraits'"></masonry>
	</div>

</div>
