<header-directive></header-directive>

<div class="container">
	<div class="row row-centered">
		<div class="col-lg-2 col-md-3 col-sm-3 col-xs-3 col-centered">
			<a class="toggle" data-toggle="lovestories" href="#">
				<img class="img-responsive thumbnail" src="images/1_Herz.jpg" alt="Love Stories"/>
			</a>
		</div>
		<div class="col-lg-2 col-md-3 col-sm-3 col-xs-3 col-centered">
			<a class="toggle" data-toggle="familylove" href="#">
				<img class="img-responsive thumbnail" src="images/2_Familie.jpg" alt="Family"/>
			</a>
		</div>
		<div class="col-lg-2 col-md-3 col-sm-3 col-xs-3 col-centered">
			<a class="toggle" data-toggle="portraits" href="#">
				<img class="img-responsive thumbnail" src="images/3_Portrait.jpg" alt="Portraits"/>
			</a>
		</div>
		<div class="col-lg-2 col-md-3 col-sm-3 col-xs-3 col-centered">
			<a class="toggle" href="#">
				<img class="img-responsive thumbnail" src="images/4_Illustrationen.jpg" alt="Illustrations"/>
			</a>
		</div>
	</div>

	<div data-toggle="lovestories" class="row collapse">
		<h1>Love Stories</h1>
		<masonry input="lovestories"></masonry>
	</div>

	<div data-toggle="familylove" class="row collapse">
		<h1>Family Love</h1>
		<masonry input="familylove"></masonry>
	</div>

	<div data-toggle="portraits" class="row collapse">
		<h1>Portraits</h1>
		<masonry input="portraits"></masonry>
	</div>

</div>
