<div class="container">
	<div class="row">
		<div class="col-lg-6 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
			<strong>Paket 1 - Zum Kennenlernen</strong>
			<ul class="list-unstyled">
				<li>Shootingdauer max. 1 h</li>
				<li>Im Studio des Künstlerhofs Berlin-Buch</li>
				<li>Auswahl aus allen Bildern in Webgalerie</li>
				<li>4 bearbeitete Bilder auf CD in voller Auflösung & Abzug (13x19)</li>
				<li><strong>59,--€</strong></li>
			</ul>

			<strong>Paket 2 - Easy</strong>
			<ul class="list-unstyled">
				<li>Shootingdauer max. 1,5 h</li>
				<li>freie Locationwahl*</li>
				<li>Auswahl aus allen Bildern in Webgalerie</li>
				<li>10 bearbeitete Bilder auf CD in voller Auflösung & Abzug (13x19)</li>
				<li><strong>89,--€</strong></li>
			</ul>

			<strong>Paket 3 - Rund-um-Sorglos</strong>

			<ul class="list-unstyled">
				<li>Shootingdauer bis 2 h</li>
				<li>freie Locationwahl</li>
				<li>Auswahl aus allen Bildern in Webgalerie</li>
				<li>15 bearbeitete Bilder auf CD in voller Auflösung & Abzug (13x19)</li>
				<li><strong>129,--€</strong></li>
			</ul>

			<ul class="list-unstyled">
				<li>Für Hochzeiten und Reportagen stelle ich Euch gerne ein ganz individuelles Angebot zusammen - bitte einfach
						eine Mail an <a
						href="&#x6d;&#x61;&#x69;&#108;&#116;&#111;&#58;&#105;&#110;&#x66;&#x6f;&#x40;&#110;&#x69;&#99;&#x6f;&#x63;&#x6f;&#x2e;&#x64;&#101;">info@nicoco.de</a>
				</li>

				<li>
					<small>Anfahrt bis 30km (bezogen auf die Gesamtstrecke) kostenfrei, danach muss eine kleine Kilometerpauschale
								 von 30 Cent/km erhoben werden.
					</small>
				</li>
			</ul>
		</div>
	</div>
</div>
