<header-directive></header-directive>

<div class="container">
	<div class="row">
		<div class="col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
			<p>Ich fotografiere Euch als Familie, als Paar, aber auch einzeln.</p>

			<p>
				Vor jedem Shooting gibt es eine kleine Vorbesprechung (per Telefon oder Email), in der wir genau besprechen
				können was ihr Euch wünscht.
				Für ein Familienshooting komme ich für 1-2 Stunden zu Euch nach Hause. In gewohnter, entspannter Umgebung werdet
				Ihr dann samt der Kleinsten ins richtige Licht gesetzt.
				Für ein Paar-Shooting treffen wir uns am besten an Eurem Lieblingsort.
			</p>

			<p>
				Im Nachhinein stelle Euch eine Online Galerie zur Verfügung. Aus dieser könnt ihr Eure 15 Favoriten aussuchen.
				Eine DVD mit diesen Favoriten im Set mit 5 entwickelten Fotos im Format 13x18 cm erhaltet ihr dann ca. eine
				Woche
				später.
				Das Gesamt-Paket kostet 79,-- Euro.
			</p>

			<p>Für Geburtskarten, Hochzeits-Reportagen und Business-Portraits schreibt mich bitte an.</p>
		</div>
	</div>
</div>
